<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        .header{
            background-color: brown;
            padding: 20px;
            text-align: center;
        }
        .footer{
            background-color: burlywood;
            padding: 20px;
            text-align: center;
        }
        .content{
            background-color: cadetblue;
            padding: 20px;
            text-align: center;
            height: 500px;
        }
        </style>
</head>
<body>
    <div class="header">
            <h1>header</h1>
    </div>
    <div class="content">
        <h1>PRODUCTS</h1>
    </div>
    <div class="footer">
        <h2>FOOTER</h2>
    </div>
    
</body>
</html>