<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text"><h4>DETAIL :</h4>{{product.detail}}</p>
      <p class="card-text">IN STOCK :{{product.isAvailable}}</p>
      
    </div>
  </div>